/** {*/
    /*border: black solid 1px;*/
/*}*/
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
            "nav nav"
            "list info"
            "list book"
            "list .";

}

.nav {
    grid-area: nav;
}

#list {
     grid-area: list;
 }

#trip-info {
    grid-area: info;
}

#book {
    grid-area: book;
}